@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="font-size: 25pt;">
    Welcome to the site to work with the database "Computer Repair"
    <img src="~/Properties/91672255.jpg"; width="500" height="500">
</div>