@{
    ViewBag.Title = "Подтверждение почты";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for the confirmation e-mail. @Html.ActionLink("Click here to enter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
